.header {
  font-family: Arial;
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

.main {
  font-family: Courier;
  font-size: 1em;
  padding: 5px;
}

.footer {
  font-family: Arial;
  font-size: 0.5em;
  padding: 5px;
  text-align: center;
}

